/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans', sans-serif;
    color: #374151;
}
h1,h2,h3,h4,h5,h6{color: #374151;}
.single-offer-box h3{
    font-family: 'Dancing Script', cursive;
}
.section-title h2{
    font-family: 'Dancing Script', cursive;
}